.CategoryList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.CategoryList > button {
    font-size: 1rem;
    padding: 0.5rem, 1rem;
    margin: 5px 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(107, 107, 107);
    border-radius: 0.5rem;
    color: white;
    background-color: rgb(37, 37, 37);
    transition: ease-in .3s;
}

.CategoryList > button:hover {
    background-color: rgb(92, 92, 92);
    transition: ease-in .3s;
}

button.selected {
    background-color: white;
    color: black;
}


button > span {
    background-color: rgb(58, 142, 148);
    display: inline-block;
    text-align: center;
    padding: 3px 6px;
    margin-left: 5px;
    height: 1rem;
    border-radius: 0.5rem;
    line-height: 1rem;
}